* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}

/* header section start */

.header-section {
    width: 100%;
    background: rgba(229, 84, 115, 0.10);
    background-repeat: no-repeat;
    padding-top: 50px;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 130px;
}

.hero-content {
    max-width: 700px;
}

.hero-content .hero-title {
    color: #272727;
    font-size: 65px;
    font-weight: 800;
}

.hero-content .hero-description {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 30px 0;
}

.hero-container .hero-image {
    width: 435px;
    height: 600px;
    display: flex;
}

.hero-container .hero-image img {
    width: 100%;
}

.btn-primary {
    padding: 20px 40px;
    border-radius: 8px;
    background: #E55473;
    border: none;
}

.section-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.section-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 45px;
}

/* about section */

.about-section {
    margin: 125px 130px;
}

.about-container {
    display: flex;
    align-items: center;
}

.video-container {
    margin-right: 50px;
}
.video-container h3{
    font-size: 18px;
    margin-top: 15px;
}

.video-container video {
    width: 100%;
    height: 100%;
    border: 5px solid #fff;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    object-fit: cover;
}

.about-content-title {
    color: #272727;
    font-size: 20px;
    font-weight: 800;
}

.about-content-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
}
.about-content .about-btn {
    padding: 18px 30px;
    border-radius: 8px;
    background: #E55473;
    border: none;
}

/* features-section */

.features-section {
    margin: 125px 130px;
}

.feature-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

.feature-container img {
    width: 310px;
    height: 428px;
}

.feature-card-one {
    width: 464px;
    height: 428px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 70px 30px 0px 30px;
    margin-right: 20px;
}

.feature-card-two {
    width: 428px;
    height: 428px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 70px 30px 0px 30px;
    margin-right: 15px;
}

.feature-card-three {
    width: 464px;
    height: 428px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 70px 30px 0px 30px;
}

.feature-images-caption {
    display: flex;
    justify-content: space-around;
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    margin-top: 30px;
    text-decoration-line: underline;
}

/* services section */

.service-section {
    margin: 0 130px;
    padding: 80px 100px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
}

.service-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.our-services {
    padding: 50px 0;
    text-align: center;
}

.service-caption {
    margin-top: 15px;
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.hot-deal {
    margin: 125px 0;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.06);
}

.hot-deal-img {
    width: 318px;
    height: 420px;
}

.hot-deal-img img {
    width: 100%;
}

.hot-deal-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 80px;
}

.hot-deal-content {
    text-align: center;
}

.hot-deal-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.section-title span {
    color: #E55473;
}

.hot-deal-text {
    margin-bottom: 30px;
}

/* social-media section */

.social-media {
    width: 100%;
}

.social-container {
    display: flex;
    padding: 0 120px;
}

.social-media-card {
    padding: 0 15px;
}

.social-media-card img {
    width: 100%;
}

/* Subscribe section */

.subscribe-section {
    border-radius: 8px;
    background: url('images/Rectangle-9.png'), lightgray 0px -203.444px / 100% 213.755%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 125px 130px;
    padding: 120px;
}

.subscribe-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-section input {
    width: 500px;
    height: 60px;
    border-radius: 8px;
    background: #FFF;
    margin-right: 15px;
    border: none;
    outline: none;
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    padding: 0 20px;
}

.subscribe-button {
    width: 150px;
    height: 60px;
    text-align: center;
    border-radius: 8px;
    background: #E55473;
    border: none;

}

/* footer-section */

.footer-section {
    background: #111010;
    padding: 125px 0;
    text-align: center;
}

.footer-title {
    color: #FFF;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.footer-title span {
    color: #E55473;
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 25px 0;
}

.footer-caption {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}